---
layout: default
---

<div class="article-list">
  {% for post in paginator.posts %}
    <article class="post">
      <date class="post-time">{{ post.date | date_to_string: "ordinal", "US" }}</date>
      <header>
        <h2 class="post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>

        <div class="post-content">
          {{ post.content | strip_html | strip_newlines | truncate: 100 }}
        </div>

        <p class="more">
          <a href="{{ site.baseurl }}{{ post.url }}">- 阅读剩余部分 -</a>
        </p>
      </header>
    </article>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a class="prev btn"
       href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; </a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="current btn">{{ page }}</span>
    {% elsif page == 1 %}
    <a class="to btn" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      {{ page }}
    </a>
    {% else %}
    <a class="to btn"
       href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
      {{ page }}
    </a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a class="next btn" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &raquo;</a>
    {% endif %}
  </div>
  {% endif %}
</div>
