---
---

//
// IMPORTS
//
@import "variables";

// Syntax highlighting @import is at the bottom of this file
/**************/
/* BASE RULES */
/**************/
body {
  background-color: #fff;
  color: #444;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 10px;
  width: 100%;

  @include mobile {
    max-width: 90%;
  }
}

img {
  max-width: 100%;
}

// Specify the color of the selection
::-moz-selection {
  color: #000 !important;
  background: #eee !important;
}

::selection {
  color: #000 !important;
  background: #eee !important;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  overflow: hidden;
  background-color: $white;
}

.masthead {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .site-info {
    text-align: center;
    font-family: "Times New Roman", Georgia, Times, sans-serif;

    .site-name {
      margin: 0;
      cursor: pointer;
      font-weight: 300;
      font-size: 32px;
      line-height: 1.22;

      a {
        color: #555;
        text-decoration: none;
      }
    }

    .site-description {
      color: #999;
      font-size: 14px;

      @include mobile {
        margin: 3px 0;
      }
    }

    @include mobile {
      float: none;
      display: block;
      margin: 0 auto;
    }
  }

  nav {
    margin-top: 36px;
    margin-bottom: 30px;

    @include mobile {
      float: none;
      margin-top: 9px;
      display: block;
      font-size: 16px;
    }

    a {
      display: inline-block;
      padding: 10px 18px;
      color: #fff;
      background: #999;
      text-align: right;
      font-weight: 300;
      letter-spacing: 1px;
      text-decoration: none;

      &.current {
        position: relative;
        background: #303538;

        &::after {
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-top: 14px solid #303538;
          bottom: -6px;
          content: "";
          display: block;
          position: absolute;
          z-index: 10;
          height: 0;
          text-align: center;
          left: 50%;
          margin-left: -14px;
          width: 0;
        }
      }

      @include mobile {
        padding: 5px;
        color: #fff;
        font-size: 14px;
      }
    }
  }

  @include mobile {
    text-align: center;
  }
}

//
// .main
//
#main {
  display: grid;
  grid-template-columns: 1fr;
  @include mobile {
    grid-template-columns: 1fr 0;
  }
}


.article-list {
  margin-bottom: 1.5em;

  .post {
    padding-top: 36px;

    .post-time {
      display: block;
      color: #999;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .post-title {
      a {
        font-size: 28px;
        color: #666;
        text-decoration: none;
        font-weight: 600;
      }
    }

    .post-content {
      padding-top: 32px;
      color: #444;
      line-height: 1.92;
      font-size: 17px;
    }

    .more {
      text-align: center;
      padding-top: 10px;
      margin-bottom: 20px;

      a {
        color: #009BCD;
        text-decoration: none;

        &:hover {
          color: #6E7173;
        }
      }
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.pagination {
  margin-top: 45px;
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid #ddd;

  .btn {
    display: inline-block;
    margin: 0 5px 5px 0;
    height: 25px;
    line-height: 25px;
    padding: 5px 9px;
    border: 1px solid #DDD;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    font-size: 20px;
    text-decoration: none;
    color: #009BCD;

    &.current {
      background: #F8F8F8;
      border-bottom-color: #D26911;
    }

    &:hover {
      background: #F8F8F8;
      border-bottom-color: #D26911;
    }
  }
}

.wrapper-footer {
  padding-top: 10px;
  padding-bottom: 50px;

  .footer {
    text-align: center;
  }
}

// post page
.post {
  width: 100%;
  overflow-x: hidden;

  .post-time {
    display: block;
    color: #999;
    margin-bottom: 10px;
  }

  .post-title {
    font-size: 28px;
    color: #666;
    text-decoration: none;
    font-weight: 600;
  }

  .post-content {
    padding-top: 32px;
  }
}

// page style
.page {
  padding-top: 36px;

  .category {
    display: flex;
    flex-direction: row;

    h3 {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      font-size: 17px;
      color: #444;
      padding: 10px 0;
    }

    ul {
      margin-left: 40px;
      margin-bottom: 17px;
      border-left: 1px #ddd solid;
      padding-left: 40px;

      li {
        line-height: 34px;

        a {
          margin-left: 25px;
          text-decoration: none;
          color: #009BCD;
          font-size: 17px;

          &:hover {
            color: #6E7173;
          }
        }
      }
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "post-theme";
@import "highlights";
