{% if site.footer-links.email %}
    <a href="mailto:{{ site.footer-links.email }}">
        <svg class="web-icon" aria-hidden="true">
            <use xlink:href="#zyblog-youjian"></use>
        </svg>
    </a>
{% endif %}

{% if site.footer-links.github %}
    <a href="https://github.com/{{ site.footer-links.github }}">
        <svg class="web-icon" aria-hidden="true">
            <use xlink:href="#zyblog-github"></use>
        </svg>
    </a>
{% endif %}

{% if site.footer-links.rss %}
    <a href="{{ site.baseurl }}/feed.xml">
        <svg class="web-icon" aria-hidden="true">
            <use xlink:href="#zyblog-rss"></use>
        </svg>
    </a>
{% endif %}
