.highlight{
  overflow-x: scroll;
}

.code-highlight {
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 10px;
}

code {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

/* Comment */
.code-highlight .c {
  color: #586E75
}

/* Error */
.code-highlight .err {
  color: #93A1A1
}

/* Generic */
.code-highlight .g {
  color: #93A1A1
}

/* Keyword */
.code-highlight .k {
  color: #859900
}

/* Literal */
.code-highlight .l {
  color: #93A1A1
}

/* Name */
.code-highlight .n {
  color: #93A1A1
}

/* Operator */
.code-highlight .o {
  color: #859900
}

/* Other */
.code-highlight .x {
  color: #CB4B16
}

/* Punctuation */
.code-highlight .p {
  color: #93A1A1
}

/* Comment.Multiline */
.code-highlight .cm {
  color: #586E75
}

/* Comment.Preproc */
.code-highlight .cp {
  color: #859900
}

/* Comment.Single */
.code-highlight .c1 {
  color: #586E75
}

/* Comment.Special */
.code-highlight .cs {
  color: #859900
}

/* Generic.Deleted */
.code-highlight .gd {
  color: #2AA198
}

/* Generic.Emph */
.code-highlight .ge {
  color: #93A1A1;
  font-style: italic
}

/* Generic.Error */
.code-highlight .gr {
  color: #DC322F
}

/* Generic.Heading */
.code-highlight .gh {
  color: #CB4B16
}

/* Generic.Inserted */
.code-highlight .gi {
  color: #859900
}

/* Generic.Output */
.code-highlight .go {
  color: #93A1A1
}

/* Generic.Prompt */
.code-highlight .gp {
  color: #93A1A1
}

/* Generic.Strong */
.code-highlight .gs {
  color: #93A1A1;
  font-weight: bold
}

/* Generic.Subheading */
.code-highlight .gu {
  color: #CB4B16
}

/* Generic.Traceback */
.code-highlight .gt {
  color: #93A1A1
}

/* Keyword.Constant */
.code-highlight .kc {
  color: #CB4B16
}

/* Keyword.Declaration */
.code-highlight .kd {
  color: #268BD2
}

/* Keyword.Namespace */
.code-highlight .kn {
  color: #859900
}

/* Keyword.Pseudo */
.code-highlight .kp {
  color: #859900
}

/* Keyword.Reserved */
.code-highlight .kr {
  color: #268BD2
}

/* Keyword.Type */
.code-highlight .kt {
  color: #DC322F
}

/* Literal.Date */
.code-highlight .ld {
  color: #93A1A1
}

/* Literal.Number */
.code-highlight .m {
  color: #2AA198
}

/* Literal.String */
.code-highlight .s {
  color: #2AA198
}

/* Name.Attribute */
.code-highlight .na {
  color: #93A1A1
}

/* Name.Builtin */
.code-highlight .nb {
  color: #B58900
}

/* Name.Class */
.code-highlight .nc {
  color: #268BD2
}

/* Name.Constant */
.code-highlight .no {
  color: #CB4B16
}

/* Name.Decorator */
.code-highlight .nd {
  color: #268BD2
}

/* Name.Entity */
.code-highlight .ni {
  color: #CB4B16
}

/* Name.Exception */
.code-highlight .ne {
  color: #CB4B16
}

/* Name.Function */
.code-highlight .nf {
  color: #268BD2
}

/* Name.Label */
.code-highlight .nl {
  color: #93A1A1
}

/* Name.Namespace */
.code-highlight .nn {
  color: #93A1A1
}

/* Name.Other */
.code-highlight .nx {
  color: #555
}

/* Name.Property */
.code-highlight .py {
  color: #93A1A1
}

/* Name.Tag */
.code-highlight .nt {
  color: #268BD2
}

/* Name.Variable */
.code-highlight .nv {
  color: #268BD2
}

/* Operator.Word */
.code-highlight .ow {
  color: #859900
}

/* Text.Whitespace */
.code-highlight .w {
  color: #93A1A1
}

/* Literal.Number.Float */
.code-highlight .mf {
  color: #2AA198
}

/* Literal.Number.Hex */
.code-highlight .mh {
  color: #2AA198
}

/* Literal.Number.Integer */
.code-highlight .mi {
  color: #2AA198
}

/* Literal.Number.Oct */
.code-highlight .mo {
  color: #2AA198
}

/* Literal.String.Backtick */
.code-highlight .sb {
  color: #586E75
}

/* Literal.String.Char */
.code-highlight .sc {
  color: #2AA198
}

/* Literal.String.Doc */
.code-highlight .sd {
  color: #93A1A1
}

/* Literal.String.Double */
.code-highlight .s2 {
  color: #2AA198
}

/* Literal.String.Escape */
.code-highlight .se {
  color: #CB4B16
}

/* Literal.String.Heredoc */
.code-highlight .sh {
  color: #93A1A1
}

/* Literal.String.Interpol */
.code-highlight .si {
  color: #2AA198
}

/* Literal.String.Other */
.code-highlight .sx {
  color: #2AA198
}

/* Literal.String.Regex */
.code-highlight .sr {
  color: #DC322F
}

/* Literal.String.Single */
.code-highlight .s1 {
  color: #2AA198
}

/* Literal.String.Symbol */
.code-highlight .ss {
  color: #2AA198
}

/* Name.Builtin.Pseudo */
.code-highlight .bp {
  color: #268BD2
}

/* Name.Variable.Class */
.code-highlight .vc {
  color: #268BD2
}

/* Name.Variable.Global */
.code-highlight .vg {
  color: #268BD2
}

/* Name.Variable.Instance */
.code-highlight .vi {
  color: #268BD2
}

/* Literal.Number.Integer.Long */
.code-highlight .il {
  color: #2AA198
}

