<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
  <script src="https://cdn.bootcdn.net/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml"/>
</head>

<body>
<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead">
      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>

      <nav>

        {% if page.name != "archive.html" and page.name != "categories.html" and page.name != "tags.html" and page.name != "about.html" %}
          <a class="current" href="{{ site.baseurl }}/">博客</a>
        {% else %}
          <a href="{{ site.baseurl }}/">博客</a>
        {% endif %}

        {% if page.name == "archive.html" %}
          <a class="current" href="{{ site.baseurl }}/archive">归档</a>
        {% else %}
          <a href="{{ site.baseurl }}/archive">归档</a>
        {% endif %}

        {% if page.name == "categories.html" %}
          <a class="current" href="{{ site.baseurl }}/categories">分类</a>
        {% else %}
          <a href="{{ site.baseurl }}/categories">分类</a>
        {% endif %}

        {% if page.name == "tags.html" %}
          <a class="current" href="{{ site.baseurl }}/tags">标签</a>
        {% else %}
          <a href="{{ site.baseurl }}/tags">标签</a>
        {% endif %}

        {% if page.name == "about.html" %}
          <a class="current" href="{{ site.baseurl }}/about">关于</a>
        {% else %}
          <a href="{{ site.baseurl }}/about">关于</a>
        {% endif %}

      </nav>
    </header>
  </div>
</div>

<main id="main" role="main" class="container">
  {{ content }}
</main>

<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      &copy; 2020
      {% include svg-icons.html %}
    </footer>
  </div>
</div>

{% include analytics.html %}

<script src="https://cdn.bootcdn.net/ajax/libs/valine/1.4.9/Valine.min.js"></script>
</body>
</html>
