---
layout: default
---

<article class="post">
    <div class="post-time">{{ page.date | date: "%Y年%m月%d日" }}</div>
    <!-- id 将作为查询条件 -->
    <span id="{{ page.url }}" class="leancloud_visitors post-time" data-flag-title="{{ page.title }}">
        <span class="post-meta-item-text">阅读数量</span>
        <span class="leancloud-visitors-count"></span>
    </span>
    <header>
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <div class="post-content" id="write">
        {{ content }}
    </div>

    {% include vcomments.html %}

</article>
